*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: Arial, Helvetica, sans-serif; 
}
.flex-container1 {
    display: flex;
    background-color: beige;
    flex-direction: row;
    /* Always on the main axis */
    /* justify-content: end;  */
    /* A lways on the cross axis */
    /* align-items: start;  */
    /* flex-wrap: wrap;  */
}
.item {
    flex: 1;
    height: 100px;
    background-color: rgb(177, 177, 198);
    color: #c3de17;
    margin: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
} 
.item:nth-of-type(1) {
    /* flex-basis: 300px; */
    /* order: 1;    */
    /* flex-shrink: 1; */
}
.item:nth-of-type(2) {
    /* flex-basis: 300px; */
    /* order: 3; */

}
.item:nth-of-type(3) {
    /* flex-grow: 1; */
}
