*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: Arial, Helvetica, sans-serif; 
}
/* display flex */
.flex-container1 {
    display: flex;
    background-color: beige;
}
.item1{
    height: 100px;
    background-color: rgb(177, 177, 198);
    color: #fff;
    margin: 10px;
    display: flex;
}


